html,
body {
  margin: 0;
  padding: 0;
  background: #111;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
}
