---
import Layout from '../layouts/Layout.astro';
import { SceneManager } from '../components/SceneManager';
---

<Layout title="Three.js Starter">
	<SceneManager client:only="react" />
	
	<main>
		<section class="section">
			<h1>section 1</h1>
		</section>
		<section class="section">
			<h1>section 2</h1>
		</section>
		<section class="section">
			<h1>section 3</h1>
		</section>
		<section class="section">
			<h1>section 4</h1>
		</section>
		<section class="section">
			<h1>section 5</h1>
		</section>
	</main>
</Layout>

<style>
	main {
		position: relative;
		z-index: 1;
	}
	.section {
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}
	h1 {
		font-size: 5rem;
		font-weight: bold;
		text-transform: uppercase;
	}
</style>
